<p>System Maintenace</p>

<p>To edit Menu Header Data click <%= link_to "here",{controller: "sysmaint", action: "new"} %> </p>
<br>
<br>
<p>To edit Menu Line Item (Detail) Data click <%= link_to "here",{controller: "sysmaint", action: "new"} %></p>